body {
	background-color: #424f63;
	margin: 0px;
	text-align: left;
}

td {
	font-size: 12px;
	color: #303030;
	line-height: 20px;
}
a{
	color:white;
}
a:link, a:visited {
	color: #65cea7;
	text-decoration: none;
}

a:hover {
	color: #65cea7;
	text-decoration: none
}